{% extends 'base.html.twig' %}

{% block title %}Admin modif utilisateur{% endblock %}

{% block idPageContent %}admin-users-edit{% endblock %}

{% block body %}
    <a href="{{ path('admin_users') }}" class="link hover">Retour</a>

    {{ form_start(userForm) }}
        <h2>Modifier un utilisateur</h2>

        <div class="my-custom-class-for-errors">
            {{ form_errors(userForm) }}
        </div>

        <div class="body">
            <div class="elem">
                {{ form_row(userForm.email) }}
            </div>
            <div class="elem flex">
                {{ form_row(userForm.roles) }}
            </div>
        </div>
       <button type="submit" class="btn hover">{{ button_label|default('Valider') }}</button>
    {{ form_end(userForm) }}

{% endblock %}