{% extends 'base.html.twig' %}

{% block title %}tache{% endblock %}

{% block idPageContent %}tache{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_task_index') }}" class="link hover">Retour</a>

        <a href="{{ path('app_task_new') }}" class="btn hover new-task-btn">
            Nouvelle tache
        </a>

        <div class="task-elem">
            <h2>
                <span class="title">{{ task.name }}</span>
            </h2>
            <p>
                <span>{{ task.date ? task.date|date('Y-m-d') : '' }}</span> -
                <span>{{ task.category.name }}</span>
            </p>
        </div>
        {# <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a> #}
    </div>
{% endblock %}
