<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Task - {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>
            <div>
                <a id="mainTitle" href="{{ path('app_task_index') }}" class="hover">Task</a>
                {% if app.user and is_granted('ROLE_ADMIN')%}
                    <a href="{{ path('admin_index') }}" class="hover link">ADMIN</a>
                {% endif %}
            </div>
            <div>
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="hover link">Déconnexion</a>
                {% else %}
                        <a href="{{ path('app_login') }}" class="hover link">Se connecter</a>
                        <a href="{{ path('app_register') }}" class="hover link">S'inscrire</a>
                {% endif %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.request.locale|locale_name(app.request.locale)|u.title }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
                        <li><a class="dropdown-item" href="{{ path('app_task_index', {_locale: 'en'}) }}">English</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_task_index', {_locale: 'fr'}) }}">Français</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div id="{% block idPageContent %}{% endblock %}_page" class="page-content">
            {% block body %}{% endblock %}
        </div>

        <footer></footer>

    </body>
</html>
